USE [master]
GO
/****** Object:  Database [TestePratico]    Script Date: 11/09/2020 16:19:28 ******/
CREATE DATABASE [TestePratico]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestePratico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestePratico]
GO
/****** Object:  Table [dbo].[Fornecedor]    Script Date: 11/09/2020 16:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedor](
	[FornecedorID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[CNPJ] [varchar](20) NOT NULL,
	[Endereco] [varchar](100) NOT NULL,
	[isAtivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FornecedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 11/09/2020 16:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[ProdutoID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[FornecedorID] [int] NOT NULL,
	[Quantidade] [int] NOT NULL,
 CONSTRAINT [PK__Produto__9C8800C3387D901E] PRIMARY KEY CLUSTERED 
(
	[ProdutoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/09/2020 16:19:28 ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Senha] [varchar](50) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[isAtivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Fornecedor_Nome]    Script Date: 11/09/2020 16:19:28 ******/
CREATE NONCLUSTERED INDEX [IX_Fornecedor_Nome] ON [dbo].[Fornecedor]
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Produto_Nome]    Script Date: 11/09/2020 16:19:28 ******/
CREATE NONCLUSTERED INDEX [IX_Produto_Nome] ON [dbo].[Produto]
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fornecedor] ADD  DEFAULT ('') FOR [Nome]
GO
ALTER TABLE [dbo].[Fornecedor] ADD  DEFAULT ('') FOR [CNPJ]
GO
ALTER TABLE [dbo].[Fornecedor] ADD  DEFAULT ('') FOR [Endereco]
GO
ALTER TABLE [dbo].[Fornecedor] ADD  DEFAULT ((1)) FOR [isAtivo]
GO
ALTER TABLE [dbo].[Produto] ADD  CONSTRAINT [DF__Produto__Nome__49C3F6B7]  DEFAULT ('') FOR [Nome]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('') FOR [Login]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('') FOR [Senha]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('') FOR [Nome]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [isAtivo]
GO
ALTER TABLE [dbo].[Produto]  WITH CHECK ADD  CONSTRAINT [FK_Produto_Fornecedor] FOREIGN KEY([FornecedorID])
REFERENCES [dbo].[Fornecedor] ([FornecedorID])
GO
ALTER TABLE [dbo].[Produto] CHECK CONSTRAINT [FK_Produto_Fornecedor]
GO
USE [master]
GO

insert into Usuario (Login, Senha, Nome, isAtivo) values ('admin','123456','Administrador',1)
go
